.search-area {
    margin-left: 20px;
    display: flex;
    width: 200px;
    background-color: black;
    border: 1px solid #444;
    border-radius: 15px;
    height: 35px;
    font-size: 15px!important;
    color: #ccc!important;
}
.search-sign {
    position: relative;
    top: 5px;
    /* left: 5px */
}
input {
    width: 170px;
    height: 100%;
    position: relative;
    background-color: black;
    border: none;
    outline: none;
    /* bottom: 13px; */

}
input:hover {
    color: #ccc!important;
}

.results {
    position: absolute;
    background-color: black;
    /* border: 1px solid ; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: inherit;
    top: 105%;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
}
.results ul{
    display: inline;
}
.small-poster {
    height: 100%!important;
    margin-right: 10px;
    justify-self: flex-start;
}
.search-movie-link {
    height: 70px;
    width: 230px;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #444;
}
.search-movie-name {
    color: white;
    font-size: 17px;
    overflow: hidden;
    width: 200px;
    align-self: center;
    text-align: left;
}
.search-movie-name:hover {
    color: #ddd!important;
}